[class *='grid'] { visibility: hidden !important; }
@media only all and (min-width: 1200px){
    [class*='lg'],[class *='md'],[class *='sm'],[class *='xs'] { visibility: visible !important; }
    .grid-xs-12 { width: 100%; } 
    .grid-xs-11 { width: 92%; } 
    .grid-xs-10 { width: 85%; } 
    .grid-xs-9 { width: 75%; } 
    .grid-xs-8 { width: 66.66%; } 
    .grid-xs-7 { width: 60%; } 
    .grid-xs-6 { width: 50%; } 
    .grid-xs-5 { width: 40%; } 
    .grid-xs-4 { width: 33.33%; } 
    .grid-xs-3 { width: 25%; } 
    .grid-xs-2 { width: 15%; } 
    .grid-xs-1 { width: 8%; } 

    .grid-sm-12 { width: 100%; } 
    .grid-sm-11 { width: 92%; } 
    .grid-sm-10 { width: 85%; } 
    .grid-sm-9 { width: 75%; } 
    .grid-sm-8 { width: 66.66%; } 
    .grid-sm-7 { width: 60%; } 
    .grid-sm-6 { width: 50%; } 
    .grid-sm-5 { width: 40%; } 
    .grid-sm-4 { width: 33.33%; } 
    .grid-sm-3 { width: 25%; } 
    .grid-sm-2 { width: 15%; } 
    .grid-sm-1 { width: 8%; } 

    .grid-md-12 { width: 100%; } 
    .grid-md-11 { width: 92%; } 
    .grid-md-10 { width: 85%; } 
    .grid-md-9 { width: 75%; } 
    .grid-md-8 { width: 66.66%; } 
    .grid-md-7 { width: 60%; } 
    .grid-md-6 { width: 50%; } 
    .grid-md-5 { width: 40%; } 
    .grid-md-4 { width: 33.33%; } 
    .grid-md-3 { width: 25%; } 
    .grid-md-2 { width: 15%; } 
    .grid-md-1 { width: 8%; } 

    .grid-lg-12 { width: 100% !important; } 
    .grid-lg-11 { width: 92% !important; } 
    .grid-lg-10 { width: 85% !important; } 
    .grid-lg-9 { width: 75% !important; } 
    .grid-lg-8 { width: 66.66% !important; } 
    .grid-lg-7 { width: 60% !important; } 
    .grid-lg-6 { width: 50% !important; } 
    .grid-lg-5 { width: 40% !important; } 
    .grid-lg-4 { width: 33.33% !important; } 
    .grid-lg-3 { width: 25% !important; } 
    .grid-lg-2 { width: 15% !important; } 
    .grid-lg-1 { width: 8% !important; } 

}
@media only all and (min-width: 992px) and (max-width: 1199px){
/*    [class *='grid-lg'] { display: none !important; }*/
    [class *='md'],[class *='sm'],[class *='xs'] { visibility: visible !important; }
    .grid-xs-12 { width: 100%; } 
    .grid-xs-11 { width: 92%; } 
    .grid-xs-10 { width: 85%; } 
    .grid-xs-9 { width: 75%; } 
    .grid-xs-8 { width: 66.66%; } 
    .grid-xs-7 { width: 60%; } 
    .grid-xs-6 { width: 50%; } 
    .grid-xs-5 { width: 40%; } 
    .grid-xs-4 { width: 33.33%; } 
    .grid-xs-3 { width: 25%; } 
    .grid-xs-2 { width: 15%; } 
    .grid-xs-1 { width: 8%; } 

    .grid-sm-12 { width: 100%; } 
    .grid-sm-11 { width: 92%; } 
    .grid-sm-10 { width: 85%; } 
    .grid-sm-9 { width: 75%; } 
    .grid-sm-8 { width: 66.66%; } 
    .grid-sm-7 { width: 60%; } 
    .grid-sm-6 { width: 50%; } 
    .grid-sm-5 { width: 40%; } 
    .grid-sm-4 { width: 33.33%; } 
    .grid-sm-3 { width: 25%; } 
    .grid-sm-2 { width: 15%; } 
    .grid-sm-1 { width: 8%; } 

    .grid-md-12 { width: 100% !important; } 
    .grid-md-11 { width: 92% !important; } 
    .grid-md-10 { width: 85% !important; } 
    .grid-md-9 { width: 75% !important; } 
    .grid-md-8 { width: 66.66% !important; } 
    .grid-md-7 { width: 60% !important; } 
    .grid-md-6 { width: 50% !important; } 
    .grid-md-5 { width: 40% !important; } 
    .grid-md-4 { width: 33.33% !important; } 
    .grid-md-3 { width: 25% !important; } 
    .grid-md-2 { width: 15% !important; } 
    .grid-md-1 { width: 8% !important; } 


}
@media only all and (min-width: 768px) and (max-width: 991px){
/*    [class *='lg'][class*='md'] { display: none; }*/
    [class *='sm'],[class *='xs'] { visibility: visible !important; }
    .grid-xs-12 { width: 100%; } 
    .grid-xs-11 { width: 92%; } 
    .grid-xs-10 { width: 85%; } 
    .grid-xs-9 { width: 75%; } 
    .grid-xs-8 { width: 66.66%; } 
    .grid-xs-7 { width: 60%; } 
    .grid-xs-6 { width: 50%; } 
    .grid-xs-5 { width: 40%; } 
    .grid-xs-4 { width: 33.33%; } 
    .grid-xs-3 { width: 25%; } 
    .grid-xs-2 { width: 15%; } 
    .grid-xs-1 { width: 8%; } 

    .grid-sm-12 { width: 100% !important; } 
    .grid-sm-11 { width: 92% !important; } 
    .grid-sm-10 { width: 85% !important; } 
    .grid-sm-9 { width: 75% !important; } 
    .grid-sm-8 { width: 66.66% !important; } 
    .grid-sm-7 { width: 60% !important; } 
    .grid-sm-6 { width: 50% !important; } 
    .grid-sm-5 { width: 40% !important; } 
    .grid-sm-4 { width: 33.33% !important; } 
    .grid-sm-3 { width: 25% !important; } 
    .grid-sm-2 { width: 15% !important; } 
    .grid-sm-1 { width: 8% !important; } 
}
@media only all and (max-width: 767px){
/*    [class *='lg'],[class*='md'],[class*='sm'] { display: none; }*/
    [class *='xs'] { visibility: visible !important; }
    .grid-xs-12 { width: 100% !important; } 
    .grid-xs-11 { width: 92% !important; } 
    .grid-xs-10 { width: 85% !important; } 
    .grid-xs-9 { width: 75% !important; } 
    .grid-xs-8 { width: 66.66% !important; } 
    .grid-xs-7 { width: 60% !important; } 
    .grid-xs-6 { width: 50% !important; } 
    .grid-xs-5 { width: 40% !important; } 
    .grid-xs-4 { width: 33.33% !important; } 
    .grid-xs-3 { width: 25% !important; } 
    .grid-xs-2 { width: 15% !important; } 
    .grid-xs-1 { width: 8% !important; } 


}